{% extends 'base.html'%}
{% block content %}
<style>
    about{
          background-image: url('static/images/about.jpg')
}


</style>
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3  class="section-subheading text-muted">Learn more about us.</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
            
              
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2022-2023</h4>
                    <h4 class="subheading">Our Humble Beginnings</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Diminuendo tourism website ....<br> The tourism company started with few employees who were less than five. The online platform begun through watsap It begun to expand slowly .
                    Want to have a memorable vacation or a tour??......yes??<br>
                    Diminuendo is here to make sure you have the most 
                    </p>
                    <ul>
                    <li>........fun</li>
                    <li>............most interesting tour/vacation
                    <li>...............capture all your moments</li>
                    <li>...................live It</li>
                    <li>......................and so much more</li>
                    </ul>
                  </div>
                </div>
                <p> <b>lets write your story </b></p>
              
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/static/images/ab.jpg" width:80px height:100vh alt="">
                </div>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <h4>Be Part
                    <br>Of Our
                    <br>Story!</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
{% endblock%}      
    
