<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>myform</title>
<link rel="stylesheet" href="main.css">
<script src="main.js"></script>
        
    </head>
    <body bgcolor=linen> 
        <div class="myform">
            <h1 class="heading">
            CONTACT FORM
            </h1>
             <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white border-right">
                            <div class="">
                                <i class="pe-7s-mail-open"></i>
                            </div>
                            <div class="content">
                                <h5><a href="deogkamulindwa@gmail.com">Email</a></h5>
                                <p>deogkamulindwa@gmail.com</p>
                            </div>
                            <div class="content">
                                <h5><a href="+256 702738461">TEL   +256702738461</a></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white">
                            <div class="">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="content">
                                <h5><a href="#">Visit Us</a></h5>
                                <p>WAKISO-NANSANA, UGANDA </p>
                            </div>
                        </div>
                    </div>
        </div>            
            <form id="myForm" action="deogkamulindwa@gmail.com" method="post">
               Name: <input type="text" id="name" name="Name" placeholder="write your name" required><br><br><br>
               Email Address: <input type="text" id="email" name="Email Address" placeholder="write ur email" required><br><br><br>
                Telephone:<input type="number" id="telephone" name="Telephone" placeholder="phone number" required><br><br><br>
                   PACKAGES<select name="period of stay">
                        <option value="12days Gorilla Trekkimg">12days Gorilla Trekking</option>
                        <option value="3days Murchison falls">3days Murchison falls</option>
                        <option value="4 days Queen Elizabeth">4days Queen Elizabeth</option>
                        <option value="4days Bwindi impenetrable">4days Bwindi impenetrable</option>
                        <option value="other">other..please specify in the comment box</option>
                    </select><br><br><br>
                   Comments: <textarea name="Comments" placeholder="Leave us a comments or feedback"></textarea><br><br>
                    <div class="button">
                        <button type="submit" name="send">send</button>
                        <button type="submit" name="Reset">Reset</button>
                   </div> 
            </form>
        </div>    
       
</body>
</html>