{% extends 'base.html'%}
{% block content %}

<section id="about">
      <div class="container2">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading text-uppercase">About us</h2>
            <h3  class="section-subheading text-muted">Learn more about us.</h3>
          </div>
        </div>
     
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2022-2023</h4>
                    <h3 class="subheading">Our Humble Beginnings</h3>
                  </div>
                 <p> Diminuendo adventures and safaris is a full destination management company committed to making your African holiday dreams a reality</p>
      The company has become a premier provider of adventure-filled tours and travel services in the region.
      The company offers a wide range of safaris including wild safaris,birding safaris,adventure trips,hiking,camping and air transport pickups
      Its a team of dedicated experienced professionals ready to provide high quality service and unforgettable experience to all of its clients
      . Whether you are looking to spot the Big Five on a wild safari,catch a glimpse of rare bird species on a abd safaris or embark on a thrilling adventure
      trip. Diminuendo classic tours has something for you, the company will ensure that you have safe and enjoyable experience, no matter what type of tour you choose
      With its top-notch services and commitment to customer satisfaction, you're sure to have an unforgettable experience. 
                     
                    </p>
                    <p>fun</p>
                    <p>most interesting tour/vacation</p>
                    <p>capture all your moments</p>
                    <p>live It</>
                    <p>and so much more</p>
                    
                  </div>
                </div>
                <p> <b>lets write your story </b></p>
              
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/static/images/ab.jpg" width:80px height:100vh alt="">
                </div>
              
                <div class="timeline-image">
                  <h5>Be Part
                  <br>Of Our
                  <br>Story!</h5>
                </div>
              
            </ul>
          </div>
        </div>
      </div>
        <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white border-right">
                            <div class="">
                                <i class="pe-7s-mail-open"></i>
                            </div>
                            <div class="content">
                                <h5><a href="deogkamulindwa@gmail.com">Email</a></h5>
                                   <p>deogkamulindwa@gmail.com</p>
                            </div>
                            <div class="content">
                                <h5><a href="+256 702738461">+256 702738461</a></h5>
                                <p>Mr.Kamulindwa</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <div class="service-item style-1 text-white">
                            <div class="">
                                <i class="pe-7s-map-marker"></i>
                            </div>
                            <div class="content">
                                <h5><a href="#">Visit our Location</a></h5>
                                <p>UGANDA-KAMPALA, UGANDA </p>
                            </div>
                        </div>
                    </div>
{% endblock%}      
    
