{% extends 'base.html'%} {% block content%}
<br></br>

<div class = "container">
    <a href="{% url 'issue_item' product.id %}" ><input type="submit" value="Buy Item" class="btn btn-secondary" btn type="button"/></a>
    <a href="{% url 'add_to_stock' product.id %}" ><input type= "submit" value="Add to Stock" class="btn btn-secondary btn" type="button"/></a>
</div>

<br></br>
<div class="namePrice">
          <h3>MacBook Air</h3>
           <span>$ 15.99</span>
       </div>
         
        <span>{{product.products}}</span>
        <span>{{product.product}}</span>
        <span>UGX{{product.namePrice}}</span>  
      
</div>
{% endblock%}