{% extends 'base.html'%} {% block content%}
<br></br>
<title> responsive product card</title>
<div class="container">
  <div class="header">
      <h1>OUR PACKAGES</h1>
     
     <img src="/static/images/logo.jpg" width="900", height="460">
    </div>

</div>
<div class="products">
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/murchison.jpg"  width="250", height="140" alt="">
        </div>
        <div class="namePrice">
          
          </div>  <p>
        <h4>3days, 2 nights  Murchison Falls package
             Accomodation
             Private Tour Guide
             Private Transport</h4>
         <br></p> <br>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
  

  </div>
  <div class="product">
      <div class="product-content">

        <div class="image">
            <img src="/static/images/snakes.jpg" width="250", height="140" alt="">
        </div>
          
        <p>
        <h4>Hanging with the reptiles 🐍 <br>enjoy our 1days package</h4>
        all the different kind of reptiles,snakes,condas.</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>         
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/kidepo.jpg" widith="500",height="340" alt="">
        </div>
          
        <p>
        <h4>5 Days Kidepo Wildlife Safari<br></h4>
            Accomodation
            Private Guide
            Private Transport</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
        
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
   

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/lion2.jpg"widith="900",height="900" alt="">
        </div>
            
        <p>
        <h4> 5 daysQueen Elizabeth National Park<br>
             Accomodation
             Private Tour Guide
             Private Transport

      </h4>
        </p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
           </div>      
      </div>          
   

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/clients.jpg"widith="500",height="340" alt="">
        </div>
          
        <p>
        <h4>join our clients <br>have fun with our amazing team</h4>
        As we create memories.</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/kidepo.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>2 Days Lake Mburo</h4>
             Accomodation
             Private Tour Guide
             Private Transport</p>
        <div class="namePrice">
            
          
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      

      </div>          
  

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/sun.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>Beautiful uganda scenery </h4>
        natures beauty all in one place.</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/bird.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>Bird siting--3days package</h4>
        all the different kind of birds beautiful birds,beautiful singing birds</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/cycling2.jpg"widith="500",height="340" alt="">
        </div>
              
        <p>
        <h4>cycling challenges with other clients 7days package</h4>
        memories are created by living them.... get your muscles on .</p>
        <div class="namePrice">
            
            
            <span> </span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/elephant.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>wondering how peaceful the animals are?? <br>games with the most peaceful animals</h4>
        beautiful animals.</p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>   
             
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/peaceful.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>Gorilla-tracking 3days & 2 Nights travelling package</h4>
            Accomodation,
            Private Tour Guide,
            Private Transport. </p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
          
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>      
      </div>          
    

  </div>
  <div class="product">
      <div class="product-content">
        <div class="image">
            <img src="/static/images/cycling.jpg"widith="500",height="340" alt="">
        </div>
            
        <p>
        <h4>Travell in comfort </h4>
            We can take to various places comfortably </p>
        <div class="namePrice">
            
            
            <span></span>
        </div>
        
          <div class="buy">
        
                <button><a href="{% url 'book_now' %}" class="btn btn-danger btn-lg" role="button">Book now</a>
                </button>
          </div>
      </div>
  </div>
</div>
  {% endblock%}
